.mobile{
    width: 100%;
    height: 20vh;
    margin-top: 2rem;
}

.mobile .mobile-shift{
    margin-left: 2rem;
    width: 96.3%;
    height: 20vh;
    display: flex;
    border-radius: .5rem;
    background-color: white;
}

.mobile-shift .mobile-card{
    width: 100%;
    height: 19vh;
    cursor: pointer;
    border-radius: .5rem;
}

.mobile-card img{
    width: 100%;
    height: 19.7vh;
    padding: .5rem;
    border-radius: .5rem;
}